<div id="controls">
	<select id ="fontsize">
		<option value="-">-</option>
		<option value="1">10 pt</option>
		<option value="2">12 pt</option>
		<option value="3">14 pt</option>
		<option value="4">16 pt</option>
		<option value="5">18 pt</option>
		<option value="6">20 pt</option>
		<option value="7">22 pt</option>
	</select>
	<select id="fontcolor">
		<option value="-">-</option>
		<option value="#000000">Black</option>
		<option value="#ff0000">Red</option>
		<option value="#ff7f00">Orange</option>
		<option value="#ffff00">Yellow</option>
		<option value="#00ff00">Green</option>
		<option value="#0000ff">Blue</option>
		<option value="#7f00ff">Purple</option>
		<option value="#ff007f">Pink</option>
	</select>
	<button type="button" id="bold">B</button>
	<button type="button" id="italic">I</button>
	<button type="button" id="underline">U</button> |
	<button type="button" id="bulletedlist">Bulleted list</button>
	<button type="button" id="numberedlist">Numbered list</button> |
	<button type="button" id="clearformat">Clear formatting</button> |
	<button type="button" id="insert">Show insert menu</button>
	<div id="right">
		Productivity (<span class="productivity explanation">?</span>):
		<div id="metercontainer"><div id="meter"><div id="filled"></div><div id="text"></div></div></div>
		<button type="button" id="save">Save changes</button>
	</div>
</div>

<div id="notecontainer">
	<div id="note">
		<%= form_for [@folder, @note], remote: true do |f| %>
			<%= f.text_field :title, class: "focusable" %>
			<%= f.text_area :body %>
		<% end %>
		<hr>
		<div id="editor" contentEditable="true"></div>
		<div id="temp"></div>
	</div>
</div>

<div id="insertmenu">
	<div id="inserttabs">
		<button type="button" id="uploadtab">Image</button>
		<button type="button" id="pdftab">PDF</button>
		<button type="button" id="eqtab">Equation</button>
	</div>
	<div id="insertpages">
		<div class="insertpage" id="insertupload">
      		<%= render 'uploads/index' %>
		</div>
		<div class="insertpage" id="insertpdf">
			<%= render 'pdfs/index' %>
		</div>
		<div class="insertpage" id="inserteq">
			<%= render 'notes/eqeditor' %>
		</div>
	</div>
</div>