<p id="notice"><%= notice %></p>

<h1>Folders</h1>

<table class="list">
  <thead>
    <tr>
      <td>Name</td>
      <td>Last modified</td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <% @folders.each do |folder| %>
      <tr>
        <td class="title" onclick="window.location = '<%= folder_path(folder) %>'"><%= folder.name %></td>
        <td class="date"><%= folder.updated_at.strftime("%b %e, %Y at %r") %></td>
        <td class="links">
          <%= link_to 'Edit', edit_folder_path(folder) %>
          <%= link_to 'Delete', folder, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New folder', new_folder_path %>