<p id="notice"><%= notice %></p>

<p>
  <h1>
    <%= @folder.name %>
  </h1>
</p>

<%= render "shared/notes_index", folder: @folder %>

<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'All folders', folders_path %>
