<table class="list">
  <thead>
    <tr>
      <td>Title</td>
      <td>Last modified</td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td class="title" onclick="window.location = '<%= folder_note_path(note.folder_id, note) %>'"><%= note.title %></td>
        <td class="date"><%= note.updated_at.strftime("%b %e, %Y at %r") %></td>
        <td class="links">
          <%= link_to 'Edit', edit_folder_note_path(note.folder_id, note) %>
          <%= link_to 'Delete', folder_note_path(note.folder_id, note), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if defined? folder %>
  <%= link_to "New note", new_folder_note_path(folder, Note.new()) %>
<% end %>