<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.body %></td>
        <td><%= link_to 'Show', folder_note_path(note.folder_id, note) %></td>
        <td><%= link_to 'Edit', edit_folder_note_path(note.folder_id, note) %></td>
        <td><%= link_to 'Destroy', folder_note_path(note.folder_id, note), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if defined? folder %>
  <%= link_to 'New Note', new_folder_note_path(folder, Note.new()) %>
<% end %>