<%= form_for(@upload, multipart: true, html: {id: 'upload-form'}, url: uploads_path) do |f| %>
 <div class="field">
    <%= f.label :file %>
    <%= f.file_field :file %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>